*{
  box-sizing: border-box;
  font-family:fantasy, 'Arial Narrow Bold', sans-serif;

  color:white;
  

  color:rgb(255, 202, 88)
}


body {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    cursor: pointer;
    background-image: url("../media/bgi.jpg");
  }
    .spacing{
        margin: 10;
        padding: 20;

    }
.font{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    position:relative;
}
.custom-box {
  width: auto;
  height:auto;
  padding: 10px 10px 10px 10px;
  border-top : 15px solid rgb(48, 48, 48);
  border-bottom :15px solid rgb(54, 54, 54);
  border-left :15px solid rgb(145, 145, 145);
  border-right:15px solid rgb(187, 187, 187);
  border-top : 15px solid rgb(46, 46, 46);
  border-bottom :15px solid rgb(31, 31, 31);
  border-left :15px solid rgb(158, 158, 158);
  border-right:15px solid rgb(78, 78, 78);

  margin: 20px;


  overflow-y: scroll;
  

}

.font-2{
    font-family:fantasy, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    width: auto;
    height:auto;
    padding: 20px 20px 20px 20px;
    
   
    border-top : 30px solid rgb(41, 41, 41);
    border-bottom :30px solid rgb(46, 46, 46);
    border-left :30px solid rgb(107, 107, 107);
    border-right:30px solid rgb(119, 119, 119);
    margin: 20px;
    border-radius: 25px;
}
.font-3{
    font-family:fantasy, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-align: center;
}
a:link {
    color: rgb(255, 230, 0);
    text-decoration: none;
  }
  
  a:visited {
    color: rgba(88, 255, 185, 0.952);
  }
  a:hover {
    background-color: rgb(58, 58, 58);
  }
  a:focus{
    color:white;
    background-color:red;
  }
  .bgcolor {
   background-color:rgb(31, 31, 31);
   
    writing-mode: horizontal-tb;
    direction: unset;
    border-radius: 5px;
}
  @media only screen and (max-width:500px) {
    html{
        font-size: .5rem;

    }
    
  }
  #big{
    font-size:large 20px;
  }
  ul li {
    display:inline-block;
    width: 30%;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
  }
  #header_box{
    margin-top: 0px;
    width: auto;
    height:auto;
    padding: 10px 10px 10px 10px;
    border-top : 10px solid rgb(65, 65, 65);
    border-bottom :10px solid rgb(54, 54, 54);
    border-left :30px solid rgb(128, 128, 128);
    border-right:30px solid rgb(172, 172, 172);
    border-radius: 25px;
  }
  .art_font{
    font-family:fantasy, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
  }

  .container {
    display:grid;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    margin: 45px auto;
  }


  body{
    display:grid;
    margin:0;
    padding:0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: arial;
  }
  
  .container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
  }
  
  .container .card{
    position: relative;
  }
  
  .container .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  
  .container .card .face.face1{
    position: relative;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 50px;
  }
  
  .container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px rgb(252, 143, 2),
      inset -20px 0 80px rgb(255, 60, 0),
      inset 20px 0 300px rgb(255, 0, 0),
      inset -20px 0 300px rgb(255, 160, 160),
      0 0 50px #fff,
      -10px 0 80px rgb(255, 67, 67),
      10px 0 80px rgb(255, 0, 0);
     
  }
  
  
  .container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
    
  }
  
  .container .card:hover .face.face1 .content{
    opacity: 100;
   
  }
  
  .container .card .face.face1 .content i{
    font-size: 3em;
    color: rgb(0, 0, 0);
    display: inline-block;
     
  }
  
  .container .card .face.face1 .content h3{
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
    
  
  }
  
  .container .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container .card .face.face2{
     position: relative;
     background: rgb(255, 104, 17);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(255, 0, 0, 0.8);
    transform: translateY(-100px);
    border-radius: 50px;
  }
  
  .container .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:rgb(0, 0, 0);
  }
  
  .container .card .face.face2 .content a{
    text-decoration:none;
    background-color:#800000;
    color: black;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 10px;
    margin: 15px 0 0;
    display: grid;
    border-radius: 50px;
  }
  
  .container .card .face.face2 .content a:hover{
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }
  